@import "base/variables";
@import "components/navbar";
@import "components/alert";
@import "components/poll";

body{
    font-family: 'Raleway', sans-serif;
    background-color: #f0f0f0;
}

.btn{
	margin-right: 5px;
}
.dropdown-menu{
	padding: 5px;
}
.glyphicon{
	display: inline-block;
	margin-right: 5px;
}
.social-button{
	font-size: 30px!important;
	margin-right: 5px;
	color: #ef6262;	
	height: 50px;
	line-height: 50px;
}
.panel-heading{

}